body {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px;
}
main {
 display: flex;
 justify-content: center;
 margin-top: 2%;

}

.eye2 { /* Customização do olho página de login */

  position: absolute;
  top: 240px;
  right: 96px;
  cursor: pointer;
}

.eye1 {  /* ESCOLHA A SENHA | Customização do olho página de registro */
  position: absolute;
  top: 347px; 
  right: 137px;
  cursor: pointer;
}

.eye3 {
  position: absolute;
  top: 400px;
  right: 137px;
  cursor: pointer;
}

/* Customização de links */
a:link {
  color: rgba(48, 4, 65, 0.869);
}

a:active {
  color: #8890e6;
}


a:hover {
  color: #2e368f;
}


/* Customização de links */

#img-user {
  width: 3em;
}
.icon {
  margin-left: 15px;
}
input {
    padding: 4%;
    width: 200px;
    border: none;
   background-color: transparent;
  }
  input:focus {
    outline: 2px solid rgb(209, 198, 220); /* Cor e estilo da borda quando focado */
    border-radius: 3px;

  }

  input.invalid {
    outline: 2px solid rgba(255, 0, 0, 0.298);
    border-radius: 3px;
  }

  input:valid {
    border-color: #ccc; 
  }

  .form {
display: flex;
 /* Espaço do icon de usuario para o titulo */
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px;
/* Effect from https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border: 1px solid rgba(255, 255, 255, 0.87);
  }

  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }

  .p-registro {
    font-size: 13px;
    color: #231937;
  }
  
  .p-registro a {
    color: #231937;
  }

  .p-registro a:hover {
    color: #2e368f;
  }

/* input background */

  .input-bg {
    background-color: rgb(233, 233, 233);
    padding: 5px;
    align-items: center;
    border-radius: 11px;
  }

  .input-bg:hover{
    background-color: rgb(255, 255, 255);

  }

  h1 {
    color: rgb(255, 255, 255);
    font-weight: 100;
    padding: 20px;
    font-size: 2em;
    text-transform: uppercase;
  }

   button {
    width: 60%;
    margin: 9px;
    padding: 3%;
    border: none;
    border-radius: 10px;
    background-color:#757dda;
    color: white;
  }
  
  button:hover {
    background-color:#8189eb;
     }
  
footer {
  text-align: center;
  margin-top: 30px;
  font-size: 10px;
}

#lembrar-input {
  display: flex;
  padding: 10px;
  gap: 10px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  justify-content: space-between;
}

#lembrar-input label {
  margin-right: 30px;
}
#lembrar {
  width: 20px;
}

.esqueci-senha a {
  color: #ffffff;
}

.esqueci-senha a:hover {
  color: #56525f;
}

/*REGISTRE-SE*/

ul {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.424);
  margin-top: 6px;
}

/**/

.form-esqueci-senha {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  width: 500px;
  gap: 9px;
  /* Effect from https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.87);
    }

    .form-esqueci-senha h4 {
      font-size: 20px;
      color: #494b66;
    }

    .esqueci-email {
      display: flex;
      gap: 20px;
      flex-direction: row-reverse;
      margin-top: 6px;
    }
    .form-esqueci-senha h5 {
      font-size: 13px;
      color: rgba(40, 40, 40, 0.463)
    }

    .esqueci-email a {
      font-size: 13px;
      color: #585d95;
    }
    .esqueci-email a:hover {
      color: #1c2156;
    }
